<div *ngIf="!data?.delete">
  <h1 mat-dialog-title *ngIf="data && data.note">Edit note</h1>
  <h1 mat-dialog-title *ngIf="!data?.note">Create note</h1>
  <form [formGroup]="noteForm" (ngSubmit)="data && data.note ? editNote(data.note) : createNote()">
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Title" formControlName="title">
      <mat-error *ngIf="title.errors?.required && title.touched">
        This field is required!
      </mat-error>
      <mat-error *ngIf="title.errors?.maxlength && title.touched">
        Value is too long!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <textarea #description matInput matTextareaAutosize placeholder="Description" formControlName="description"></textarea>
      <mat-hint align="end">{{description.value.length}} / 50000</mat-hint>
      <mat-error *ngIf="description.errors?.maxlength && description.touched">
        Value is too long!
      </mat-error>
    </mat-form-field>
    <app-tags-add class="mb-1" [tags]="tagsList"></app-tags-add>
    <div class="flex-row justify-between">
      <button type="button" (click)="closeDialog()" mat-raised-button color="warn">Cancel</button>
      <button [disabled]="noteForm.invalid" type="submit" mat-raised-button color="accent">
        <span *ngIf="data?.note">Edit</span>
        <span *ngIf="!data?.note">Create</span>
      </button>
    </div>
  </form>
</div>

<div *ngIf="data?.delete">
  <h1 mat-dialog-title>Delete note</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete this note?</p>
  </div>
  <div mat-dialog-actions class="flex-row justify-between">
    <button mat-raised-button color="accent" (click)="closeDialog()">No</button>
    <button mat-raised-button color="warn" (click)="deleteNote(data.note)">Yes</button>
  </div>
</div>
