/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
  margin: 0;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.container {
  min-height: 100%;
  width: 100%;
}

.flex-row {
  display: flex !important;
  flex-direction: row;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.app-label{
  font-size: 28px;
}

.p-1 {
  padding: 1em;
}

.p-0-5 {
  padding: 0.5em;
}

.m-1 {
  margin: 1em;
}

.m-0-5 {
  margin: 0.5em;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mt-1 {
  margin-top: 1em;
}

.mr-1 {
  margin-right: 1em !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.min-height-260 {
  min-height: 260px !important;
}

.custom-toastr-title {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  word-wrap: break-word;
}

.custom-toastr-message {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  word-wrap: break-word;
}

.color-light-grey {
  color: #D1C4E9;
}

.cursor-pointer {
  cursor: pointer;
}

.color-dark-purple {
  color: #512DA8;
}

.bg-light-grey {
  background-color: #D1C4E9;
}

.bg-dark-purple {
  background-color: #512DA8;
}

.bg-yellow {
  background-color: #FFEB3B;
}

.color-yellow {
  color: #FFEB3B;
}

.bolder {
  font-weight: bolder;
}

.card-datetime {
  display: inline-block;
  margin: auto;
  font-style: italic;
  float: left;
  font-size: smaller;
  margin-left: 1em;
}

.full-width-input {
  width: 100%;
}

.custom-chip-style {
  font-size: 11px;
  padding: 4px 9px !important;
  margin: 3px !important;
}

.todo-list-item .mat-list-item-content {
  padding: 0 !important;
  width: 100%;
  margin: auto;
}

.todo-list-item-small .mat-list-item-content {
  padding: 0 !important;
  width: 100%;
  margin: auto;
  height: 20px !important;
}
