<mat-card class="todolist-card flex-column justify-between">
  <div>
    <mat-card-title class="title-todolist">
      <span>{{ todo_list.title }}
        <button (click)="renameTodoList(todo_list)" mat-icon-button class="custom-icon-margin">
          <mat-icon class="icon-smaller">edit</mat-icon>
        </button>
      </span>
    </mat-card-title>
    <mat-card-content class="flex-column justify-between mb-0 min-height-260">
      <div class="scroll-container cursor-pointer" (click)="openTodoList(todo_list)">
        <mat-list class="custom-mat-list" (click)="openTodoList(todo_list)" #tasks>
          <mat-list-item disabled="true" class="todo-list-item-small" *ngFor="let task of todo_list.tasks">
            <div (click)="openTodoList(todo_list)" matLine class="flex-row justify-between full-width-input">
              <mat-checkbox [disabled]="true" color="primary" class="margin-checkbox" [checked]="task.completed">{{task.title}}</mat-checkbox>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-chip-list class="mt-1">
        <mat-chip (click)="openTodoList(todo_list)" class="cursor-pointer custom-chip-style" *ngFor="let tag of todo_list?.tags">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </div>
  <mat-card-actions class="flex-row justify-end">
    <div class="card-datetime">{{ todo_list.created | date:'d MMM yyyy, hh:mm'}}</div>
    <button mat-icon-button (click)="deleteTodoList(todo_list)"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>
