.todolist-card {
  margin-bottom: 0.75em;
}

.title-todolist {
  margin-bottom: 8px !important;
}

.todo-list-item-small {
  font-size: 12px;
  height: 26px !important;
}

.scroll-container {
  height: 100%;
  max-height: 220px;
  box-sizing: content-box;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.icon-smaller {
  font-size: 20px;
}

.custom-icon-margin {
  bottom: 2px;
  left: -8px;
}
