<div *ngIf="!data?.delete">
  <h1 mat-dialog-title>Create new workspace</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Name" [(ngModel)]="workspaceName">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="flex-row justify-between">
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="accent" [disabled]="!workspaceName.length" (click)="createWorkspace()">Create</button>
  </div>
</div>
<div *ngIf="data?.delete && data?.workspace">
  <h1 mat-dialog-title>Delete workspace</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete workspace '{{data.workspace.name}}' and ALL records in it?</p>
  </div>
  <div mat-dialog-actions class="flex-row justify-between">
    <button mat-raised-button color="accent" (click)="closeDialog()">No</button>
    <button mat-raised-button color="warn" (click)="deleteWorkspace(data.workspace.id)">Yes</button>
  </div>
</div>
