<mat-form-field class="full-width-input">
  <mat-chip-list #tagsList>
    <mat-chip *ngFor="let tag of tags" [removable]="true" (removed)="removeTag(tag)">
      {{ tag }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input matInput placeholder="Tags"
           [matChipInputFor]="tagsList"
           [matChipInputSeparatorKeyCodes]="separatorsKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="addTag($event)">
  </mat-chip-list>
</mat-form-field>
