<div class="signup-container">
  <mat-card>
    <mat-card-title>
      Registration
    </mat-card-title>
    <mat-card-content>
       <form [formGroup]="signupForm" class="login-form" (submit)="onSubmit()">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="email.errors?.required && email.touched">
              This field is required!
            </mat-error>
            <mat-error *ngIf="email.errors?.email && email.touched">
              Wrong email format!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.errors?.required && password.touched">
              This field is required!
            </mat-error>
            <mat-error *ngIf="password.errors?.minlength && password.touched">
              Password is too short!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Confirm password" formControlName="passwordRepeat">
            <mat-error *ngIf="passwordRepeat.errors?.required && password.touched">
              This field is required!
            </mat-error>
            <mat-error *ngIf="passwordRepeat.errors?.differentPasswords && passwordRepeat.touched">
              Passwords mismatch!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="firstName.errors?.required && firstName.touched">
              This field is required!
            </mat-error>
            <mat-error *ngIf="firstName.errors?.minlength && firstName.touched">
              Value is too short!
            </mat-error>
            <mat-error *ngIf="firstName.errors?.maxlength && firstName.touched">
              Value is too long!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Last Name" formControlName="lastName">
            <mat-error *ngIf="lastName.errors?.required && lastName.touched">
              This field is required!
            </mat-error>
            <mat-error *ngIf="lastName.errors?.minlength && lastName.touched">
              Value is too short!
            </mat-error>
            <mat-error *ngIf="lastName.errors?.maxlength && lastName.touched">
              Value is too long!
            </mat-error>
          </mat-form-field>
          <p>Already have an account? Login <a routerLink="/login">here!</a></p>
          <button type="submit" [disabled]="signupForm.invalid" class="text-center center-block" mat-raised-button color="primary">
            <mat-icon>done</mat-icon>
            Register
          </button>
        </form>
    </mat-card-content>
  </mat-card>
</div>
<app-throbber [display]="loading"></app-throbber>

