.workspace-title {
  display: block;
  padding: 0.5em 0;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.add-workspace-btn {
  display: block;
  margin: 2em auto
}

.todo-sidenav {
  display: flex;
  justify-content: center;
}

.todo-sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.add-button {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding-bottom: 1.5em;
  padding-right: 2em;
}

.wrap-container {
  flex-wrap: wrap;
}

