<mat-toolbar color="primary">
  <mat-toolbar-row class="flex-row justify-between">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>dehaze</mat-icon></button>
    <span class="flex-row justify-start">
      <span class="app-label"><mat-icon>done_outline</mat-icon> ToDo</span>
    </span>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="todo-sidenav-container">
  <mat-sidenav #sidenav class="todo-sidenav bg-light-grey" mode="side">
    <div>
      <mat-list>
        <span mat-sort-header class="workspace-title">Workspaces</span>
        <mat-list-item class="cursor-pointer" *ngFor="let workspace of workspaces">
          <mat-icon mat-list-icon>label</mat-icon>
          <span (click)="selectWorkspace(workspace)" mat-line>{{ workspace.name }}</span>
          <button mat-icon-button (click)="deleteWorkspace(workspace)"><mat-icon>delete</mat-icon></button>
          <mat-divider></mat-divider>
        </mat-list-item>
        <button class="add-workspace-btn" mat-raised-button color="accent" (click)="openWorkspaceDialog()">Add workspace</button>
      </mat-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-tab-group (selectedTabChange)="toggleTab($event)">
      <mat-tab label="Todo lists" #todoListsTab>
        <div class="container wrap-container p-1" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="start stretch">
          <app-todolist-card fxFlex="19%" [loading]='loading' [selectedWorkspace]="selectedWorkspace" [todo_list]="todo_list" *ngFor="let todo_list of selectedWorkspace?.todo_lists"></app-todolist-card>
        </div>
      </mat-tab>
      <mat-tab label="Notes" #notesTab>
        <div class="container wrap-container p-1" fxLayout="row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="start stretch">
          <app-note-card fxFlex="19%" [loading]='loading' [selectedWorkspace]="selectedWorkspace" [note]="note" *ngFor="let note of selectedWorkspace?.notes"></app-note-card>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="flex-row justify-end add-button">
      <button (click)="addTaskOrNote()" class="float-right" mat-fab>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="home-page-footer"></mat-toolbar>
<app-throbber [display]="loading"></app-throbber>
