.todo-items-container {
  min-width: 400px;
  min-height: 500px;
  max-height: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-items-container::-webkit-scrollbar {
  display: none;
}

.custom-mat-list {
  padding: 0;
}

.margin-checkbox {
  margin: auto 0 !important;
}
