<div *ngIf="data && data.rename && !data.delete">
  <h1 mat-dialog-title>Rename todo list</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Name" [(ngModel)]="todoListTitle">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="flex-row justify-between">
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="accent" [disabled]="!todoListTitle.length" (click)="updateTodoList(data.todo_list, true)">OK</button>
  </div>
</div>
<div *ngIf="!data?.delete && !data?.opened && !data?.rename">
  <h1 mat-dialog-title>Create new todo list</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Name" [(ngModel)]="todoListName">
    </mat-form-field>
    <app-tags-add class="mb-1" [tags]="todoListTags"></app-tags-add>
  </div>
  <div mat-dialog-actions class="flex-row justify-between">
    <button mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="accent" [disabled]="!todoListName.length" (click)="createTodoList()">Create</button>
  </div>
</div>
<div *ngIf="!data?.rename && !data?.delete && data?.opened && data?.todo_list">
  <div class="mb-1">
    <h1 mat-dialog-title>{{ data.todo_list.title }}</h1>
    <div mat-dialog-content>
      <div class="flex-row justify-between">
        <mat-form-field class="full-width-input mr-1">
          <input #taskTitle matInput placeholder="Add new task" class="full-width-input">
        </mat-form-field>
        <button mat-mini-fab [disabled]="!taskTitle.value.length" (click)="addTask(data.todo_list, taskTitle)"><mat-icon>add</mat-icon></button>
      </div>
      <div class="todo-items-container">
        <mat-list class="custom-mat-list" #tasks>
          <mat-list-item class="todo-list-item" *ngFor="let task of data.todo_list.tasks">
            <div matLine class="flex-row justify-between full-width-input">
              <mat-checkbox color="accent" class="margin-checkbox" (change)="toggleStatus(task)" [checked]="task.completed">{{task.title}}</mat-checkbox>
              <button mat-icon-button (click)="deleteTask(task)"><mat-icon>delete</mat-icon></button>
            </div>
          </mat-list-item>
        </mat-list>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tags
              </mat-panel-title>
              <mat-panel-description>
                Add and remove tags
              </mat-panel-description>
            </mat-expansion-panel-header>
            <app-tags-add class="mb-1" [tags]="todoListTags"></app-tags-add>
            <button class="full-width-input" (click)="updateTodoList(data.todo_list, false)" mat-raised-button color="primary">Save</button>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div mat-dialog-actions class="flex-row justify-between">
      <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
    </div>
  </div>
</div>
<div *ngIf="!data?.rename && data?.delete && data?.todo_list">
  <h1 mat-dialog-title>Delete todo list</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to delete todo list '{{data.todo_list.title}}' and ALL tasks in it?</p>
  </div>
  <div mat-dialog-actions class="flex-row justify-between">
    <button mat-raised-button color="accent" (click)="closeDialog()">No</button>
    <button mat-raised-button color="warn" (click)="deleteTodoList(data.todo_list)">Yes</button>
  </div>
</div>
