<div class="login-container">
  <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
    <mat-card-content>
       <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="email.errors?.required && email.touched">
              This field is required!
            </mat-error>
            <mat-error *ngIf="email.errors?.email && email.touched">
              Wrong email format!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.invalid && password.touched">
              This field is required!
            </mat-error>
          </mat-form-field>
          <p>Have not create an account yet? Register <a routerLink="/signup">here!</a></p>
          <br>
          <button type="submit" [disabled]="loginForm.invalid" class="text-center center-block" mat-raised-button color="primary">
            <mat-icon>done</mat-icon>
            Submit
          </button>
        </form>
    </mat-card-content>
  </mat-card>
</div>
<app-throbber [display]="loading"></app-throbber>
