<mat-card class="note-card flex-column justify-between">
  <div>
    <mat-card-title>{{ note.title }}</mat-card-title>
    <mat-card-content class="flex-column justify-between mb-0 min-height-260">
      <div class="concat-text">{{ note.description }}</div>
      <mat-chip-list class="mt-1">
        <mat-chip class="custom-chip-style" *ngFor="let tag of note.tags">
          {{ tag }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </div>
  <mat-card-actions class="flex-row justify-end">
    <div class="card-datetime">{{ note.created | date:'d MMM yyyy, hh:mm'}}</div>
    <button mat-icon-button (click)="deleteNote(note)"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button (click)="editNote(note)"><mat-icon>edit</mat-icon></button>
  </mat-card-actions>
</mat-card>
