.note-card {
  margin-bottom: 0.75em;
  min-height: 340px;
}

.concat-text {
  max-height: 205px;
  overflow: hidden;
  word-break: break-all;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.app-label {
  font-size: 28px;
}

.p-1 {
  padding: 1em;
}

.p-0-5 {
  padding: 0.5em;
}

.m-1 {
  margin: 1em;
}

.m-0-5 {
  margin: 0.5em;
}
