.faded-bg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: gray;
  opacity: 0.4;
  z-index: 800;
}

.spinner-position {
  top: 40vh;
  z-index: 900;
  margin: 0 auto;
  transform: translate(-50%, -50%) !important;
}

